#crumbs ul,
#main-navigation,
#footer {
  display: none;
}

#banner a {
  pointer-events: none;
  cursor: default;
}

#search-and-donate {
  display: none;
}

#unsafe {
  background: var(--yellow) url(warning.png) no-repeat left 15px center;
  padding-top: 20px;
  padding-left: 80px;
  padding-bottom: 1px;
  border-radius: 5px;
}

#unsafe p.big {
  font-size: var(--font-size-h3);
  margin-bottom: 20px;
}

#unsafe p.small {
}

#eyes img {
  width: 500px;
  margin: 2em auto;
  display: block;
}

#year-end {
  display: none;
}
